 <% unless @list %>
   <%= link_to "Create New To-do List", new_list_path, class: 'btn btn-success' %>
 <% else %>
 <h1><%= @list.title %></h1>
  <div class="row">
    <h2>Items</h2>
      <div class='new-item'>
        <%= render partial: 'items/form', locals: {list: @list} %>
<!--         <%= link_to "", @item, method: :delete, class: 'glyphicon glyphicon-ok' %> -->
      </div>
      <ul>
        <%= render @list.items %>
      </ul>
  </div>
<% end %>